.Rproj.user
.Rhistory
.RData
.Ruserdata
brickr_StarterKit.xlsm
brickr_toybox.Rproj
brickrStarterKit.pptx
solarsystem.mp4
deathstar.mp4
deathstarblack.mp4
deathstarweb.mp4
dsmovie.mp4
stmovie.mp4
strangerthings.mp4
car_from_model.mp4
brickr_uhd.mp4
fish.mp4
